{% extends 'base.html' %} {% block title %}تصاویر{% endblock %} 
{% block content%}


<div id="search">
  <h4>جستجوی پیشرفته</h4>
  {% if 'my-samples' in request.path %}
  <form action="{% url 'samples_my-samples' %}" method="get">
  {% else %}
  <form action="{%url 'samples' %}" method="get">
  {% endif %}
    {% csrf_token %}
    <div class="row">
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="form-group">
          <label for="name">نام نمونه</label>
          <input type="text" name="name" class="form-control" id="name">
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="form-group">
          <label for="username">نام کاربری کاربر مالک</label>
          <input type="text" name="username" class="form-control" id="username">
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="form-group">
          <label for="owner_name">نام کاربر مالک</label>
          <input type="text" name="owner_name" class="form-control" id="owner_name">
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6">
        <fieldset name="result">
          <legend for="result">نتیجه</legend>
          <div class="checkbox-container">
            <label for="pos">کوید مثبت</label>
            <input type="checkbox" name="pos" id="pos" />
          </div>
          <div class="checkbox-container">
            <label for="neg">کوید منفی</label>
            <input type="checkbox" name="neg" id="neg" />
          </div>
          <div class="checkbox-container">
            <label for="tbd">نا مشخص</label>
            <input type="checkbox" name="tbd" id="tbd" />
          </div>
        </fieldset>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">اعمال فیلتر</button>
  </form>
</div>

{% if samples|length == 0 %}
<h4>تصویری یافت نشد.</h4>
{% else %}
{% if 'my-samples' in request.path %}
<h1>تصاویر من</h1>
{% else %}
<h1>تصاویر</h1>
{% endif %}
<div class="row row-eq-height">
  {% for sample in samples %}
  <div class="col-lg-4 col-md-6">
    <div class="sample">
      <img src="{{ sample.image }}" alt="" class="sample-img" />
      <div class="sample-info">
        <h4 class="sample-title">{{ sample.name }}</h4>
        {% if 'my-samples' not in request.path %}
        <h5 style="text-align: center;">
          کاربر مالک: {{sample.account.first_name}} {{sample.account.last_name}}
        </h5>
        {% endif %}
        <div class="row">
          <div class="col-lg-6">
            <strong class="sample-tag">وضعیت: </strong>
            {% if sample.result == 'POS' %}
            <p class="sample-pos">ابتلا به کوید 19</p>
            {% elif sample.result == 'NEG' %}
            <p class="sample-neg">عدم ابتلا به کوید 19</p>
            {% else %}
            <p class="sample-tbd">نا مشخص</p>
            {% endif %}
          </div>
          <div class="col-lg-6">
            <strong class="sample-tag">درصد احتمال: </strong>
            {% if sample.probability %} {{ sample.probability|floatformat:4 }}
            {% endif %}
          </div>
        </div>
        <div class="sample-actions">
          <a
            href="{% url 'samples_my-sample-details' sample.id %}"
            class="btn btn-secondary"
            >بیشتر</a
          >
          <span>{{ sample.issued_at|time:"h:i A" }}</span>
          <span>{{ sample.issued_at|date:"Y/m/d" }}</span>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endif %} {% endblock %}
