{% load static %}
<!DOCTYPE html>
<html lang="fa" dir="rtl">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <link
      rel="stylesheet"
      href="https://bootswatch.com/5/litera/bootstrap.min.css"
    />-->
    <link rel="stylesheet" href="{% static 'css/bootstrap-grid.rtl.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}" />
    <link rel="stylesheet" href="{% static 'css/alerts.css' %}" />
    <link rel="stylesheet" href="{% static 'css/sidebar.css' %}" />
    <link rel="stylesheet" href="{% static 'css/samples.css' %}" />
    <!--<script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
      defer
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
      defer
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
      defer
    ></script> -->
    <script src="{% static 'js/bootstrap.bundle.min.js' %" defer></script>
    {% block css %} {% endblock %} {% block javascript %} {% endblock %}
    <title>{% block title %} {% endblock %}</title>
  </head>
  <body>
    {% include 'partials/_navbar.html' %}
    {% include 'partials/_alert.html' %}
    {% if user.is_authenticated %}
    {% include 'partials/_sidebar.html' %}
      <div class="container margined">
    {% else %}
      <div class="container">
    {% endif %}
      {% block content %} {% endblock %}
      </div>
  </body>
</html>
