<nav class="navbar">
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <ul class="navbar-nav">
    {% if request.path == '/' %}
    <li class="nav-item active">
    {% else  %}
    <li class="nav-item">
    {% endif %}
      <a class="nav-link" href="{% url 'index' %}">صفحه اصلی</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">تصاویر</a>
    </li>
  </ul>
  {% if user.is_authenticated %}
  <ul class="navbar-nav">
    {% if 'dashboard' in request.path %}
    <li class="nav-item active">
    {% else %}
    <li class="nav-item">
    {% endif %}
      <a href="{% url 'accounts_dashboard' %}" class="nav-link">داشبورد</a>
    </li>
    <div class="nav-item">
      <form action="{% url 'accounts_logout' %}" method="post">
        {% csrf_token %}
        <button type="submit" class="nav-link">خروج</button>
      </form>
    </div>
  </ul>
  {% else %}
  <ul class="navbar-nav">
    {% if 'login' in request.path %}
    <li class="nav-item active">
    {% else %}
    <li class="nav-item">
    {% endif %}
      <a href="{% url 'accounts_login' %}" class="nav-link">ورود</a>
    </li>
    {% if 'register' in request.path %}
    <li class="nav-item active">
    {% else %}
    <li class="nav-item">
    {% endif %}
      <a href="{% url 'accounts_register' %}" class="nav-link">ثبت نام</a>
    </li>
  </ul>
  {% endif %}
</nav>
