<nav class="navbar">
  <button
    class="navbar-toggler"
    id="navbar-toggler"
  >
    <span><i class="fa fa-bars"></i></span>
  </button>
  

  <ul class="navbar-nav">
    {% if request.path == '/' %}
    <li class="nav-item active">{% else %}</li>

    <li class="nav-item">
      {% endif %}
      <a class="nav-link" href="{% url 'index' %}">صفحه اصلی</a>
    </li>
    {% if 'samples' in request.path %}
    <li class="nav-item active">{% else %}</li>

    <li class="nav-item">
      {% endif %}
      <a class="nav-link" href="{% url 'samples' %}">تصاویر</a>
    </li>
  </ul>
  {% if user.is_authenticated %}
  <ul class="navbar-nav">
    {% if 'samples' in request.path %}
    <button id="btnSearch">
      <span><i class="fa fa-search"></i></span>
    </button>
    {% endif %}
    {% if 'dashboard' in request.path %}
    <li class="nav-item active">{% else %}</li>

    <li class="nav-item">
      {% endif %}
      <a href="{% url 'accounts_dashboard' %}" class="nav-link">
        داشبورد {{ request.user }}
      </a>
    </li>
    <div class="nav-item">
      <form action="{% url 'accounts_logout' %}" method="post">
        {% csrf_token %}
        <button type="submit" class="nav-link">خروج</button>
      </form>
    </div>
  </ul>
  {% else %}
  <ul class="navbar-nav">
    {% if 'samples' in request.path %}
    <button id="btnSearch">
      <span><i class="fa fa-search"></i></span>
    </button>
    {% endif %}
    {% if 'login' in request.path %}
    <li class="nav-item active">{% else %}</li>

    <li class="nav-item">
      {% endif %}
      <a href="{% url 'accounts_login' %}" class="nav-link">ورود</a>
    </li>
    {% if 'register' in request.path %}
    <li class="nav-item active">{% else %}</li>

    <li class="nav-item">
      {% endif %}
      <a href="{% url 'accounts_register' %}" class="nav-link">ثبت نام</a>
    </li>
  </ul>
  {% endif %}
</nav>
